<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet"/>
    <title>My Resume</title>

</head>
<body>
    <h1>Jean Medina</h1>
    <img src="foto_perfil.jpg" height="200"/>
    <h2>Sumary</h2>
    <p>System engineer and hardworking individual with experience in customer service and web development</p>
    <hr/>
    <h2>Education</h2>
        <ul>
            <li>bachelor</li>
        </ul>
        <hr/>
    <h2>Work Experience</h2>

        <ul>
            <li><h3>Advisor I, Customer Service in Concentrix</h3>
                <p>April 2023-Jun 2024</p>
                <ul>
                    <li>help clients on the phone</li>

                </ul>
            </li>
            <li><h3>Content Moderator in taskus </h3>

                <ul>
                    <li>Review content</li>
                </ul>

            </li>
        </ul>
        <hr>
        <h2>Skills</h2>
        <ul>
            <li>Customer Service</li>
        </ul>
        <hr/>
        <h2>Other</h2>
        <ul>
            <li><a href="products/myhobbies.html">My Hobbies</a></li>
            <li> <a href="contactme.html">Contact me</a></li>

        </ul>

        <footer>

             <p>©  Jean Medina. All rights reserved</p>
        </footer>

</body>
</html>